$general-font : Jost;
$main-color: #AB886D;

@mixin flexed {
      display: flex;
      justify-content: center;
      align-items: center;
}

@mixin positionning {
  
  @include flexed;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);;
  flex-direction: column;
}

body {
      @include flexed;
      min-height: 100vh; 
      margin: 0; 
      background-color: $main-color;
      transition: background-color 0.5s ease-in-out;
}

#quote-box {
  @include positionning;
  background-color: #1E201E;
  color: white;
  font-family: $general-font;
  border-radius: 20px;
  padding: 20px;
  margin: 0px;
  
  @media (max-width: 768px) {
    font-size: 1.2rem;
  }
  @media (max-width: 576px) {
    font-size: 1rem;
  }
  
  #author{
    font-style: italic;
  }
  
  #text {
    padding:10px;
    display : flex !important;
    justify-content:center !important;
    align-items :center !important;
  }
  
  #tweet-quote{
    width :30px;
    height:30px;
    padding:0;   
  }
}

h1 {
    font-family: $general-font;
    font-style : italic;
    font-size : 107px !important;
    letter-spacing: 16px;
    position : absolute;
    top : 10%;
    left :10%;  
}





